<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row text-center">
          <h4><%= current_user.username %></h4>
        </div>
      </div>
      <div class="panel-footer">
         <div class="row text-center">
          <div class="col-sm-6" style="font-size:80%, opacity: 0.7">posts</br>
            <p style="color: blue; font-size: 200%"><%=current_user.posts.count%></p>
          </div>
          <div class="col-sm-6" style="font-size:80%, opacity: 0.7">followers</br>
            <p style="color: blue; font-size: 200%"><%=current_user.followers.count%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <% if user_signed_in? %>
    <%= render '/components/post_form' %>
    <% end %>
    <% for @p in @posts %>
    <div class="panel panel-default post-panel">
      <div class="panel-body row">
        <div class="col-sm-1">
          <%= image_tag "avatar.png", size: "50x50", class: "rounded-img" %>
        </div>
        <div class="col-sm-11">
          <p class="post-title"><span class="post-owner"><%= User.find(@p.user_id).username %></span> - <span class="post-creation"><%=@p.created_at.to_formatted_s(:short) %></span></p>
          <p class="post-content"><%= @p.content %></p>
        </div>
        
      </div>
    </div>
    <% end %>
     <div class="panel panel-default post-panel">
      <div class="panel-body row">
        <div class="col-sm-12">
          <center>
            <img src="/icon.png" width= "25px" height= "25px"></img>
            <a href="#top"><p class="text-center" style="opacity: 0.7; color:grey">back to top<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a>
          </center>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p style="opacity:0.5; font-size:75%;">Quakr  is  built  on  Ruby  on  Rails  following  tutorials  from  DevFactor  at  devfactor.io</p>
      </div>
    </div>
  </div>
</div>




